.aboutMe__paragraph {
    text-align: justify;
}

.aboutMe__heading {
    color: teal;
}

.aboutMe__unorderedList {
    text-align: justify;
    list-style-type: square;
}

.aboutMe__listElement {
    padding: 10px;
}

.aboutMe__article {
    padding: 10px;
}