.navigation {
    box-shadow: 5px 5px 5px rgba(96, 96, 96, 0.752);
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.navigation__list {
    list-style-type: none;
    display: inline-block;
}

.navigation__listItem {
    display: inline-block;
    padding: 5px;
}

.navigation__link {
    text-decoration: none;
    color: teal;
}

.navigation__link:hover {
    border-bottom: 1px solid currentColor;
    outline: none;
}
